@font-face {
	font-family: 'icomoon';
	src:url('./fonts/icomoon.eot?3c1wml');
	src:url('./fonts/icomoon.eot?#iefix3c1wml') format('embedded-opentype'),
		url('./fonts/icomoon.woff?3c1wml') format('woff'),
		url('./fonts/icomoon.ttf?3c1wml') format('truetype'),
		url('./fonts/icomoon.svg?3c1wml#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE634:before {
	content: "\e634";
}

.icon-uniE62F:before {
	content: "\e62f";
}
.icon-uniE630:before {
	content: "\e630";
}
.icon-uniE631:before {
	content: "\e631";
}
.icon-uniE632:before {
	content: "\e632";
}
.icon-uniE633:before {
	content: "\e633";
}
.icon-uniE62E:before {
	content: "\e62e";
}
.icon-uniE62A:before {
	content: "\e62a";
}
.icon-uniE62B:before {
	content: "\e62b";
}
.icon-uniE62C:before {
	content: "\e62c";
}
.icon-uniE62D:before {
	content: "\e62d";
}
.icon-uniE629:before {
	content: "\e629";
}
.icon-uniE624:before {
	content: "\e624";
}
.icon-uniE625:before {
	content: "\e625";
}
.icon-uniE626:before {
	content: "\e626";
}
.icon-uniE627:before {
	content: "\e627";
}
.icon-uniE628:before {
	content: "\e628";
}
.icon-uniE611:before {
	content: "\e611";
}
.icon-uniE612:before {
	content: "\e612";
}
.icon-uniE613:before {
	content: "\e613";
}
.icon-uniE614:before {
	content: "\e614";
}
.icon-uniE615:before {
	content: "\e615";
}
.icon-uniE616:before {
	content: "\e616";
}
.icon-uniE617:before {
	content: "\e617";
}
.icon-uniE618:before {
	content: "\e618";
}
.icon-uniE619:before {
	content: "\e619";
}
.icon-uniE61A:before {
	content: "\e61a";
}
.icon-uniE61B:before {
	content: "\e61b";
}
.icon-uniE61C:before {
	content: "\e61c";
}
.icon-uniE61D:before {
	content: "\e61d";
}
.icon-uniE61E:before {
	content: "\e61e";
}
.icon-uniE61F:before {
	content: "\e61f";
}
.icon-uniE620:before {
	content: "\e620";
}
.icon-uniE621:before {
	content: "\e621";
}
.icon-uniE622:before {
	content: "\e622";
}
.icon-uniE623:before {
	content: "\e623";
}
.icon-btn_home:before {
	content: "\e60f";
}
.icon-uniE610:before {
	content: "\e610";
}
.icon-uniE600:before {
	content: "\e600";
}
.icon-uniE601:before {
	content: "\e601";
}
.icon-uniE602:before {
	content: "\e602";
}
.icon-uniE603:before {
	content: "\e603";
}
.icon-uniE604:before {
	content: "\e604";
}
.icon-uniE605:before {
	content: "\e605";
}
.icon-uniE606:before {
	content: "\e606";
}
.icon-uniE607:before {
	content: "\e607";
}
.icon-uniE608:before {
	content: "\e608";
}
.icon-uniE609:before {
	content: "\e609";
}
.icon-uniE60A:before {
	content: "\e60a";
}
.icon-uniE60B:before {
	content: "\e60b";
}
.icon-uniE60C:before {
	content: "\e60c";
}
.icon-uniE60D:before {
	content: "\e60d";
}
.icon-ok:before {
	content: "\e60e";
}
